@import "tailwindcss";

@theme {
  --font-mulish: "Mulish", serif;
  --color-primary: #1d4ed8;
}

@layer base {
  body,
  #root {
    margin: 0 4% !important;
    padding: 0 !important;
    overflow-x: hidden;
  }

  main {
    padding-top: 64px;
  }

  /* Header container yang tetap full width */
  header {
    margin-left: -5.26%;
    margin-right: -5.26%;
    width: 111%;
  }
}
